body {
  font-family: "Orkney Regular";
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
}

.mandarin {
  font-family: "Noto Sans TC", sans-serif !important;
  font-weight: 700;
}

.info-rwd {
  display: none;
}

/*  */

/* REGIONS: GRID */

/*  */
header,
.grid-container,
.main {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
  padding: 24px 32px;
  align-content: start;
}

/*  */

/* REGIONS: HEADER */

/*  */
header {
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  opacity: 0.9;
}
.logo {
  grid-column: 1 / span 1;
  width: 42px;
}

.site-name {
  font-size: 10px;
  font-family: "Orkney Bold";
  line-height: 51px;
  grid-column: 2 / 3;
  text-transform: uppercase;
}

.menu {
  grid-column: 2 / span 1;
  grid-row: 2;
  margin-top: 80px;
  padding: 0px;
}

.menu li {
  margin-top: 24px;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.7px;
}

header > ul.menu li a.is-active {
  font-family: "Orkney Bold";
}
/*  */

/* REGIONS: MAIN */

/*  */
.main {
  margin-top: 28px;
  position: relative;
}
.picture img {
  display: block;
  width: 100%;
  height: 100%;
  filter: grayscale(0.5);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
}

.picture img:hover {
  box-shadow: 0 16px 96px rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
  filter: none;
}

section.projects {
  display: grid;
  grid-column: 4 / span 7;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 32px;
  grid-row: auto;
}

design {
  padding-bottom: 48px;
}

.content {
  grid-column: 1 / span 2;
}

.title,
.description {
  margin-top: 8px;
}

.types {
  text-transform: uppercase;
  font-family: "Orkney Bold";
  letter-spacing: 0.7px;
  padding-bottom: 8px;
}

.title {
  font-family: "Orkney Bold";
  font-size: 24px;
  letter-spacing: 0.7px;
  line-height: 30px;
}

.description {
  line-height: 16px;
}

design .picture {
  height: 100%;
}

/* PROJECT ME */

.project-me {
  display: grid;
  grid-gap: 32px;
  grid-column: 1 / span 7;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 32px;
  grid-row: auto;
}

.project-me > .picture {
  grid-column: 4 / span 4;
}

/* PROJECT GO */

.project-go {
  display: grid;
  grid-column-gap: 32px;
  grid-column: 1 / span 7;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 32px;
}

.project-go > .picture {
  grid-column: 4 / span 4;
}

/* PROJECT MOBILE */

.project-mo {
  display: grid;
  grid-column-gap: 32px;
  grid-column: 1 / span 7;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 32px;
}

.project-mo > .picture {
  grid-column: 4 / span 4;
}

/* PROJECT PRODUCT */

.project-ba {
  display: grid;
  grid-column-gap: 32px;
  grid-column: 1 / span 7;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 32px;
}

.project-ba > .picture {
  grid-column: 4 / span 4;
}

/* PROJECT VARIOUS */

.project-va {
  display: grid;
  grid-column-gap: 32px;
  grid-column: 1 / span 7;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 32px;
}

.project-va > .picture {
  grid-column: 4 / span 4;
}

/*  */
/* FOOTER */
/*  */

#divider {
  margin-top: 80px;
  margin-bottom: 8px;
  padding-top: 48px;
  grid-column: 4 / span 7;
  border-top: 1px solid #000000;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 32px;
}

.info-web {
  grid-column: 1 / span 2;
}

.footer h3 {
  font-size: 24px;
  font-family: "Orkney Bold";
  padding-bottom: 8px;
}

.footer h5 {
  color: #616161;
  line-height: 24px;
}

.email {
  grid-column: 5 / span 3;
  font-size: 18px;
  align-self: center;
  text-align: right;
}

.email a {
  font-family: "Orkney Bold";
}

.social-links {
  display: block;
  position: fixed;
  bottom: 24px;
  right: 32px;
}

.social-links img {
  display: block;
  width: 16px;
  padding: 12px 0;
}

/*  */

/* TABLET */

/*  */

@media only screen and (max-width: 1024px) and (min-width: 700px) {
  /* GRID:TABLET */

  header,
  .main {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 32px;
    padding: 24px 32px;
  }

  /* HEADER:TABLET */

  header .site-name {
    grid-column: 2 / span 2;
  }

  header > ul.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    line-height: 64px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
    margin: 0;
    background: #fff;
    opacity: 0.9;
    z-index: 100;
  }

  header ul.menu li a {
    position: relative;
    color: transparent;
    opacity: 1;
    height: 24px;
    line-height: 64px;
    display: block;
    width: 100%;
    margin: 0;
  }

  header ul.menu li {
    position: relative;
    height: 64px;
    width: 33.333%;
  }

  header ul.menu li:nth-of-type(3) a {
    background: url("../imgs/resume_inactive.svg") center center no-repeat;
    background-size: 24px 24px;
  }

  header ul.menu li:nth-of-type(2) a {
    background: url("../imgs/about_inactive.svg") center center no-repeat;
    background-size: 24px 24px;
  }

  header ul.menu li:nth-of-type(1) a.is-active {
    background: url("../imgs/project_active.svg") center center no-repeat;
    background-size: 24px 24px;
  }

  /* MAIN:TABLET */

  section.projects {
    display: grid;
    grid-gap: 32px;
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
  }

  .content {
    grid-column: 1 / span 3;
    align-self: center;
  }

  .content .description {
    margin-right: 32px;
  }

  /* FOOTER:TABLET */

  #divider {
    margin-top: 80px;
    margin-bottom: 8px;
    padding-top: 48px;
    padding-bottom: 80px;
    grid-column: 2 / span 6;
    border-top: 1px solid #000000;
    display: flex;
    justify-content: space-between;
  }

  .footer .info-web {
    display: none;
  }

  .info-rwd {
    display: unset;
    grid-column: 1 / span 4;
  }

  .email {
    display: none;
  }

  .social-links {
    position: relative;
    display: flex;
    right: 0;
    top: 0;
  }

  .social-links li {
    margin-left: 16px;
    align-self: center;
  }
  .social-links li:nth-child(1) {
    margin-left: 0;
  }
}

/*  */

/* MOBILE */

/*  */

@media only screen and (max-width: 699px) and (min-width: 320px) {
  /* GRID:MOBILE */

  header,
  .main {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 32px;
    padding: 24px 32px;
  }

  /* HEADER:MOBILE */

  header .site-name {
    display: none;
  }

  header > ul.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    line-height: 64px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
    margin: 0;
    background: #fff;
    opacity: 0.9;
    z-index: 100;
  }

  header ul.menu li a {
    position: relative;
    color: transparent;
    opacity: 1;
    height: 24px;
    line-height: 64px;
    display: block;
    width: 100%;
    margin: 0;
  }

  header ul.menu li {
    position: relative;
    height: 64px;
    width: 33.333%;
  }

  header ul.menu li:nth-of-type(3) a {
    background: url("../imgs/resume_inactive.svg") center center no-repeat;
    background-size: 24px 24px;
  }

  header ul.menu li:nth-of-type(2) a {
    background: url("../imgs/about_inactive.svg") center center no-repeat;
    background-size: 24px 24px;
  }

  header ul.menu li:nth-of-type(1) a.is-active {
    background: url("../imgs/project_active.svg") center center no-repeat;
    background-size: 24px 24px;
  }

  /* MAIN:MOBILE */

  section.projects {
    grid-column: span 8;
    grid-template-columns: repeat(8, 1fr);
  }

  design .picture {
    grid-column: 5 / span 4 !important;
  }

  .content {
    grid-column: 1 / span 4;
    align-self: center;
  }

  .content .description {
    margin-right: 24px;
  }

  .types {
    text-transform: uppercase;
    font-family: "Orkney Bold";
    font-size: 10px;
    letter-spacing: 0.4px;
    padding-bottom: 4px;
  }

  .title {
    font-family: "Orkney Bold";
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 24px;
  }

  .description {
    font-size: 10px;
    line-height: 16px;
  }

  .project-me,
  .project-go,
  .project-mo,
  .project-ba,
  .project-va {
    grid-column: 1 / span 8;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 32px;
  }

  /* FOOTER:TABLET */

  #divider {
    margin-top: 64px;
    margin-bottom: 8px;
    padding-top: 48px;
    padding-bottom: 64px;
    grid-column: span 8;
    border-top: 1px solid #000000;
    display: flex;
    justify-content: space-between;
  }

  .footer .info-web {
    display: none;
  }

  .footer h3 {
    font-size: 18px;
    padding-bottom: 4px;
  }

  .footer h5 {
    font-size: 10px;
  }

  .info-rwd {
    display: unset;
    grid-column: 1 / span 4;
  }

  .email {
    display: none;
  }

  .social-links {
    position: relative;
    display: flex;
    right: 0;
    top: 0;
  }

  .social-links li {
    margin-left: 16px;
    align-self: center;
  }
  .social-links li:nth-child(1) {
    margin-left: 0;
  }
}
